fastapi
uvicorn[standard]
langchain
langgraph
langchain-google-genai
sqlmodel
python-multipart
python-dotenv
aiofiles
pydantic-settings
sqlalchemy
psycopg2-binary
google-cloud-speech
google-cloud-texttospeech
google-genai
gcloud
google-api-python-client